@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  height: 100%;
}

#__next {
  height: 100%;
} */

body {
  margin: 0;
  /* height: 100%; */
  line-height: inherit;
}

@import './_custom_antd.css';
@import './common/_common.css';
@import './pages/_auth.css';
